#include <afxres.h>
#include "resource.h"

IDD_LOAN_SEARCH DIALOGEX 0, 0, 310, 200
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Loan Search"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Loan Number:", -1, 7, 10, 50, 8
    EDITTEXT        IDC_EDIT_LOAN_NUM, 62, 8, 80, 12, ES_AUTOHSCROLL
    LTEXT           "Borrower Name:", -1, 150, 10, 60, 8
    EDITTEXT        IDC_EDIT_BORROWER_NAME, 215, 8, 80, 12, ES_AUTOHSCROLL
    LTEXT           "Property Address:", -1, 7, 26, 70, 8
    EDITTEXT        IDC_EDIT_PROPERTY_ADDRESS, 80, 24, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Search", IDC_BUTTON_LOAN_SEARCH, 248, 24, 50, 14
    CONTROL         "", IDC_LIST_LOAN_RESULTS, "SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 7, 42, 295, 108
    PUSHBUTTON      "Add Loan", IDC_BUTTON_LOAN_ADD, 100, 156, 60, 14
    PUSHBUTTON      "Modify Loan", IDC_BUTTON_LOAN_MODIFY, 175, 156, 65, 14
    LTEXT           "", IDC_STATIC_QUOTE, 7, 178, 295, 16
END

IDD_LOAN_ADD DIALOGEX 0, 0, 320, 230
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Loan"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Loan Number:", -1, 7, 10, 70, 8
    EDITTEXT        IDC_EDIT_ADD_LOAN_NUM, 82, 8, 80, 12, ES_AUTOHSCROLL
    LTEXT           "Borrower Name:", -1, 170, 10, 70, 8
    EDITTEXT        IDC_EDIT_ADD_BORROWER_NAME, 245, 8, 68, 12, ES_AUTOHSCROLL
    LTEXT           "Property State:", -1, 7, 28, 70, 8
    EDITTEXT        IDC_EDIT_ADD_PROPERTY_STATE, 82, 26, 30, 12, ES_AUTOHSCROLL | ES_UPPERCASE
    LTEXT           "Coverage Type:", -1, 120, 28, 65, 8
    EDITTEXT        IDC_EDIT_ADD_COVERAGE_TYPE, 190, 26, 60, 12, ES_AUTOHSCROLL
    LTEXT           "Loan Status:", -1, 258, 28, 54, 8
    EDITTEXT        IDC_EDIT_ADD_LOAN_STATUS, 258, 38, 55, 12, ES_AUTOHSCROLL
    LTEXT           "Property Address:", -1, 7, 46, 72, 8
    EDITTEXT        IDC_EDIT_ADD_PROPERTY_ADDR, 82, 44, 170, 12, ES_AUTOHSCROLL
    LTEXT           "City:", -1, 7, 64, 30, 8
    EDITTEXT        IDC_EDIT_ADD_PROPERTY_CITY, 40, 62, 100, 12, ES_AUTOHSCROLL
    LTEXT           "ZIP:", -1, 148, 64, 25, 8
    EDITTEXT        IDC_EDIT_ADD_PROPERTY_ZIP, 176, 62, 50, 12, ES_AUTOHSCROLL
    LTEXT           "Property Type:", -1, 7, 82, 70, 8
    EDITTEXT        IDC_EDIT_ADD_PROPERTY_TYPE, 82, 80, 80, 12, ES_AUTOHSCROLL
    LTEXT           "Property Value ($):", -1, 7, 100, 75, 8
    EDITTEXT        IDC_EDIT_ADD_PROPERTY_VALUE, 86, 98, 60, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "UPB ($):", -1, 155, 100, 40, 8
    EDITTEXT        IDC_EDIT_ADD_UPB, 198, 98, 60, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Borrower Phone:", -1, 7, 118, 70, 8
    EDITTEXT        IDC_EDIT_ADD_BORROWER_PHONE, 82, 116, 80, 12, ES_AUTOHSCROLL
    LTEXT           "FCI Code:", -1, 170, 118, 50, 8
    EDITTEXT        IDC_EDIT_ADD_FCI_CODE, 224, 116, 50, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Add Loan", IDC_BUTTON_LOAN_ADD, 100, 210, 60, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 210, 50, 14
END

IDD_LOAN_MODIFY DIALOGEX 0, 0, 320, 210
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Modify Loan"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Loan Number:", -1, 7, 10, 65, 8
    LTEXT           "", IDC_STATIC_MODIFY_LOAN_NUM, 76, 10, 80, 8
    LTEXT           "Borrower Name:", -1, 7, 28, 65, 8
    EDITTEXT        IDC_EDIT_MODIFY_BORROWER_NAME, 76, 26, 120, 12, ES_AUTOHSCROLL
    LTEXT           "Loan Status:", -1, 205, 28, 55, 8
    EDITTEXT        IDC_EDIT_MODIFY_LOAN_STATUS, 205, 38, 55, 12, ES_AUTOHSCROLL
    LTEXT           "Property Address:", -1, 7, 46, 68, 8
    EDITTEXT        IDC_EDIT_MODIFY_PROPERTY_ADDR, 78, 44, 170, 12, ES_AUTOHSCROLL
    LTEXT           "City:", -1, 7, 64, 30, 8
    EDITTEXT        IDC_EDIT_MODIFY_PROPERTY_CITY, 40, 62, 100, 12, ES_AUTOHSCROLL
    LTEXT           "ZIP:", -1, 148, 64, 25, 8
    EDITTEXT        IDC_EDIT_MODIFY_PROPERTY_ZIP, 176, 62, 50, 12, ES_AUTOHSCROLL
    LTEXT           "Borrower Phone:", -1, 7, 82, 68, 8
    EDITTEXT        IDC_EDIT_MODIFY_BORROWER_PHONE, 78, 80, 80, 12, ES_AUTOHSCROLL
    LTEXT           "UPB ($):", -1, 7, 100, 45, 8
    EDITTEXT        IDC_EDIT_MODIFY_UPB, 56, 98, 70, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Property Value ($):", -1, 135, 100, 78, 8
    EDITTEXT        IDC_EDIT_MODIFY_PROPERTY_VALUE, 216, 98, 60, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Mortgagee Clause:", -1, 7, 118, 72, 8
    EDITTEXT        IDC_EDIT_MODIFY_MORTGAGEE_CLAUSE, 82, 116, 228, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Save Changes", IDC_BUTTON_LOAN_MODIFY, 96, 190, 65, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 190, 50, 14
END
